@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
.heading {
  font-family: "Rubik Mono One", sans-serif;
}
p {
  letter-spacing: 1px;
}
.heading {
  letter-spacing: 5px;
  color: rgb(47, 47, 47);
}
