section {
  position: relative;
  min-height: 100vh;

  margin-top: 100px;
  overflow: hidden;
}
.title-f {
  font-size: 80px;
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 300;
  padding-left: 20px;
  color: rgb(47, 47, 47);
  left: 30%;
  z-index: 5;
}
.left-f {
  padding: 5rem;
  background-color: #7d6e83;

  width: 50%;
  font-weight: 500;
  font-size: 20px;
  z-index: 5;
  line-height: 30px;
  margin-right: 100px;
}

.scroll-c {
  position: absolute;
  display: flex;

  min-height: 100vh;

  justify-content: flex-start;
  align-items: center;
}
.right-f > h1 {
  margin: 0 2rem;
}
.scroll-c > img {
  display: inline-block;
  width: 20rem;
  margin-right: 6rem;
  cursor: pointer;
}
